/*
 * Pixelgarage fonts
 * --------------------------------------------------*/
//
// Font face tips
// https://www.456bereastreet.com/archive/201012/font-face_tip_define_font-weight_and_font-style_to_keep_your_css_simple/

//
// webfont licences
//@import '../fonts/BrandonGrotesque/BrandonGrotesque-Licence.css';

//
// Google fonts
//@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

//
// Define customer specific fonts
$pxl-font-path: '~assets/fonts';

//
// Font faces
//
// text fonts
@font-face {
  font-family: 'PxlFont';
  src: url('#{$pxl-font-path}/relay-regular/relay-regular-webfont.eot');
  src: url('#{$pxl-font-path}/relay-regular/relay-regular-webfont.eot') format('embedded-opentype'),
  url('#{$pxl-font-path}/relay-regular/relay-regular-webfont.woff2') format('woff2'),
  url('#{$pxl-font-path}/relay-regular/relay-regular-webfont.woff') format('woff'),
  url('#{$pxl-font-path}/relay-regular/relay-regular-webfont.ttf') format('truetype'),
  url('#{$pxl-font-path}/relay-regular/relay-regular-webfont.svg#relay-regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PxlFont';
  src: url('#{$pxl-font-path}/relay-light/relay-light-webfont.eot');
  src: url('#{$pxl-font-path}/relay-light/relay-light-webfont.eot') format('embedded-opentype'),
  url('#{$pxl-font-path}/relay-light/relay-light-webfont.woff2') format('woff2'),
  url('#{$pxl-font-path}/relay-light/relay-light-webfont.woff') format('woff'),
  url('#{$pxl-font-path}/relay-light/relay-light-webfont.ttf') format('truetype'),
  url('#{$pxl-font-path}/relay-light/relay-light-webfont.svg#relay-lightregular') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PxlFont';
  src: url('#{$pxl-font-path}/relay-bold/relay-bold-webfont.eot');
  src: url('#{$pxl-font-path}/relay-bold/relay-bold-webfont.eot') format('embedded-opentype'),
  url('#{$pxl-font-path}/relay-bold/relay-bold-webfont.woff2') format('woff2'),
  url('#{$pxl-font-path}/relay-bold/relay-bold-webfont.woff') format('woff'),
  url('#{$pxl-font-path}/relay-bold/relay-bold-webfont.ttf') format('truetype'),
  url('#{$pxl-font-path}/relay-bold/relay-bold-webfont.svg#relay-boldregular') format('svg');
  font-weight: bold;
  font-style: normal;
}
