/* 
 * Pixelgarage normalisation
 * --------------------------------------------------*/
// 
// container in general
.container,
.container-fluid {
  position: relative;

  // sharper fonts
  @include pxl-sharp-fonts;

  a {
    outline: none;
    color: $link-color;
    text-decoration: $link-decoration;

    @include hover-focus-active {
      outline: none;
      color: $link-color-hover;
      text-decoration: $link-decoration-hover;
    }
  }

  *:focus {
    outline: none;
  }

}

