//
// load custom SCSS
@import "custom";

/* --------------------------------------------------
 *  Layout specific rules
 * --------------------------------------------------*/
//
// fading transition
.fading-enter-active,
.fading-leave-active {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 1s ease-in-out;
}
.fading-enter,
.fading-leave-to {
  opacity: 0;
}
.fading-enter-to,
.fading-leave {
  opacity: 1;
}

//
// slide left transition
.slide-left-enter-active,
.slide-left-leave-active {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.75s ease-in-out;
}
.slide-left-enter {
  transform: translateX(100%);
  opacity: 0;
}
.slide-left-enter-to {
  transform: translateX(0);
  opacity: 1;
}
.slide-left-leave {
  transform: translateX(0);
  opacity: 1;
}
.slide-left-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

