/*
 * Form element mixins
 */

// Variables for form elements
// ---------------------------
// typo distance
$xs-dist:			map-get($grid-gutter-widths, xs);
$sm-dist:			map-get($grid-gutter-widths, sm);
$md-dist:			map-get($grid-gutter-widths, md);
$lg-dist:			map-get($grid-gutter-widths, lg);
$xl-dist:			map-get($grid-gutter-widths, xl);

// Checkbox, Radio, Range thumb
$xs-diameter:	$xs-dist * 1.8;
$sm-diameter:	$sm-dist;
$md-diameter:	$md-dist;
$lg-diameter:	$lg-dist;
$xl-diameter:	$xl-dist;

// lines
$line-thin:		0.2rem; // 2px
$line-thick:	0.4rem; // 4px


// Button border thickness
$button-line:		3px;
$button-min-width: 150px;


// placeholder definition
$placeholder-fontsize: 1.4rem;
$placeholder-color: $text-color-placeholder;
$placeholder-ls: 0.025em;  // letter-spacing
$placeholder-align: left;


//
// SVG arrows for input elements
//
// URL-Content
$svg-url-start:				"url('data:image/svg+xml;charset=UTF-8,";
$svg-url-end:				"')";


// SVG select arrow
$svg-select-arrow-1:		'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.48579 14.92441" preserveAspectRatio="xMinYMax meet"><polyline class="select-pfeil" points="0.329 0.328 14.243 14.267 28.157 0.328" style="fill:none;stroke:';
$svg-select-arrow-2:		';stroke-miterlimit:10;stroke-width:1px"/></svg>';


// SVG button more arrow
$svg-more-arrow-1:		'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49.74369 25.00218"><polyline points="36.775 0.355 49.033 12.501 36.775 24.647" style="fill:none;stroke:';
$svg-more-arrow-2:		';stroke-miterlimit:10;stroke-width:1px"/><line y1="12.50109" x2="49.03331" y2="12.50109" style="fill:none;stroke:';
$svg-more-arrow-3:		';stroke-miterlimit:10;stroke-width:1px"/></svg>';
$svg-more-arrow-2-hover:	';stroke-miterlimit:10;stroke-width:2px"/><line y1="12.50109" x2="49.03331" y2="12.50109" style="fill:none;stroke:';
$svg-more-arrow-3-hover:	';stroke-miterlimit:10;stroke-width:2px"/></svg>';



// Mixins
// -------------------------
//
// Placeholder
@mixin pxl-placeholder($size: $placeholder-fontsize, $ls: $placeholder-ls, $text-align: $placeholder-align){
  // Chrome, Firefox, Opera, Safari 10.1+
  ::placeholder {
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
    margin: 0;
    font-variant-numeric: lining-nums tabular-nums;
		font-size: $size;
		letter-spacing: $ls;
    text-align: $text-align;
  }
  // Internet Explorer 10+
  :-ms-input-placeholder {
    opacity: 1;
    margin: 0;
    font-variant-numeric: lining-nums tabular-nums;
    font-size: $size;
    letter-spacing: $ls;
    text-align: $text-align;
  }
  //  MS Edge
  ::-ms-input-placeholder {
    opacity: 1;
    margin: 0;
    font-variant-numeric: lining-nums tabular-nums;
		font-size: $size;
		letter-spacing: $ls;
    text-align: $text-align;
  }
}

@mixin pxl-placeholder-theme($color: $placeholder-color){
  // Chrome, Firefox, Opera, Safari 10.1+
  ::placeholder {
    color: $color;
  }
  // Internet Explorer 10+
  :-ms-input-placeholder {
    color: $color;
  }
  //  MS Edge
  ::-ms-input-placeholder {
    color: $color;
  }
}


//
// Form input fields
@mixin pxl-form-input () {
	input[type='date'],
	input[type='datetime'],
	input[type='datetime-local'],
	input[type='email'],
	input[type='month'],
	input[type='number'],
	input[type='password'],
	input[type='search'],
	input[type='tel'],
	input[type='text'],
	input[type='time'],
	input[type='url'],
	input[type='week'],
	input:not([type]),
	textarea {
    @include pxl-formtext();
		-webkit-appearance: none;
    box-sizing: border-box;
		display: block;
		width: 100%;
		padding: 0 0 1px 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		border: none;
		font-variant-numeric: lining-nums tabular-nums;

		&:active {
			border: none;
		}
		&:focus, &:hover {
			border: none;
			outline: none;
			padding-bottom: 0;
		}
		&::-webkit-calendar-picker-indicator {
			display: none;
		}
  }

	// Fix Safari-Bug
	input[type='search'] {
		-webkit-appearance: textfield;
	}

  // placeholder
  @include pxl-placeholder();

}

//
// Theme for form input fields
@mixin pxl-form-input-theme ($form-theme-color, $form-color, $form-nearcolor, $form-middlecolor, $form-palecolor, $form-svgcolor) {
  input[type='date'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='email'],
  input[type='month'],
  input[type='number'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='text'],
  input[type='time'],
  input[type='url'],
  input[type='week'],
  input:not([type]),
  textarea {
    color: $form-nearcolor;
    border-bottom: 1px solid $form-color;
    background-color: transparent;

    &:focus, &:hover {
      border-bottom: 2px solid $form-color;
    }
    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }

  //placeholder theme
  @include pxl-placeholder-theme($form-nearcolor);
}


//
// Form checkbox
@mixin pxl-form-checkbox () {
	// label as container
	.checkbox-container {
		display: block;
		position: relative;
    @include pxl-font-plain-style(form);
    margin: 0.625em 0;
    line-height: $xs-diameter;
    height: $xs-diameter;
    padding-left: $xs-diameter + 1rem;

    @include media-breakpoint-up(sm) {
			height: $sm-diameter;
      line-height: $sm-diameter;
			padding-left: $sm-diameter + 1rem;
		}
		@include media-breakpoint-up(md) {
			height: $md-diameter;
      line-height: $md-diameter;
			padding-left: $md-diameter + 1rem;
		}
		@include media-breakpoint-up(lg) {
			height: $lg-diameter;
      line-height: $lg-diameter;
			padding-left: $lg-diameter + 1.5rem;
		}
		@include media-breakpoint-up(xl) {
			height: $xl-diameter;
      line-height: $xl-diameter;
			padding-left: $xl-diameter + 1.5rem;
		}
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	// hide browser default
	.checkbox-container input {
		position: absolute;
		opacity: 0;
		height: 0;
		width: 0;
		cursor: pointer;
	}

	// new checkbox
	.checkmark {
    box-sizing: content-box;
		position: absolute;
		top: 0;
		left: 0;
    height: $xs-diameter - ( 2 * $line-thin );
    width: $xs-diameter - ( 2 * $line-thin );

    @include media-breakpoint-up(sm) {
			height: $sm-diameter - ( 2 * $line-thin );
			width: $sm-diameter - ( 2 * $line-thin );
		}
		@include media-breakpoint-up(md) {
			height: $md-diameter - ( 2 * $line-thin );
			width: $md-diameter - ( 2 * $line-thin );
		}
		@include media-breakpoint-up(lg) {
			height: $lg-diameter - ( 2 * $line-thin );
			width: $lg-diameter - ( 2 * $line-thin );
		}
		@include media-breakpoint-up(xl) {
			height: $xl-diameter - ( 2 * $line-thin );
			width: $xl-diameter - ( 2 * $line-thin );
		}
		border-radius: 50%;
    border: $line-thin solid;
	}

	// checkbox hover color
	.checkbox-container:hover .checkmark {
    height: $xs-diameter - ( 2 * $line-thick );
    width: $xs-diameter - ( 2 * $line-thick );
    @include media-breakpoint-up(sm) {
			height: $sm-diameter - ( 2 * $line-thick );
			width: $sm-diameter - ( 2 * $line-thick );
		}
		@include media-breakpoint-up(md) {
			height: $md-diameter - ( 2 * $line-thick );
			width: $md-diameter - ( 2 * $line-thick );
		}
		@include media-breakpoint-up(lg) {
			height: $lg-diameter - ( 2 * $line-thick );
			width: $lg-diameter - ( 2 * $line-thick );
		}
		@include media-breakpoint-up(xl) {
			height: $xl-diameter - ( 2 * $line-thick );
			width: $xl-diameter - ( 2 * $line-thick );
		}
    border: $line-thick solid;
	}

}

//
// Theme form checkbox
@mixin pxl-form-checkbox-theme ( $form-theme-color, $form-color, $form-nearcolor, $form-middlecolor, $form-palecolor, $form-svgcolor) {
  // theme of checkbox

  // new checkbox
  .checkmark {
    border-color: $form-color;
  }

  // checkbox hover color (supports bootstrap checkbox-group layout)
  .checkbox-container:hover input ~ .checkmark,
  .checkbox-container:hover input ~ label .checkmark {
    border-color: $form-color;
  }

  // checkbox checked color (supports bootstrap checkbox-group layout)
  .checkbox-container input:checked ~ .checkmark,
  .checkbox-container input:checked ~ label .checkmark {
    background-color: $form-color;
  }
}

//
// Form radio
@mixin pxl-form-radio () {
	// label as container
  .radio-container{
    display: block;
    position: relative;
    @include pxl-font-plain-style(form);
    margin: 0.625em 0;
    line-height: $xs-diameter;
    height: $xs-diameter;
    padding-left: $xs-diameter + 1rem;

    @include media-breakpoint-up(sm) {
			height: $sm-diameter;
      line-height: $sm-diameter;
			padding-left: $sm-diameter + 1rem;
		}
		@include media-breakpoint-up(md) {
			height: $md-diameter;
      line-height: $md-diameter;
			padding-left: $md-diameter + 1rem;
		}
		@include media-breakpoint-up(lg) {
			height: $lg-diameter;
      line-height: $lg-diameter;
			padding-left: $lg-diameter + 1.5rem;
		}
		@include media-breakpoint-up(xl) {
			height: $xl-diameter;
      line-height: $xl-diameter;
			padding-left: $xl-diameter + 1.5rem;
		}
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	// hide browser default
  .radio-container input {
		position: absolute;
		opacity: 0;
		height: 0;
		width: 0;
		cursor: pointer;
	}

	// new checkbox
	.checkmark {
    box-sizing: content-box;
		position: absolute;
		top: 0;
		left: 0;
    height: $xs-diameter - ( 2 * $line-thin );
    width: $xs-diameter - ( 2 * $line-thin );

    @include media-breakpoint-up(sm) {
			height: $sm-diameter - ( 2 * $line-thin );
			width: $sm-diameter - ( 2 * $line-thin );
		}
		@include media-breakpoint-up(md) {
			height: $md-diameter - ( 2 * $line-thin );
			width: $md-diameter - ( 2 * $line-thin );
		}
		@include media-breakpoint-up(lg) {
			height: $lg-diameter - ( 2 * $line-thin );
			width: $lg-diameter - ( 2 * $line-thin );
		}
		@include media-breakpoint-up(xl) {
			height: $xl-diameter - ( 2 * $line-thin );
			width: $xl-diameter - ( 2 * $line-thin );
		}
		border-radius: 50%;
    border: $line-thin solid;
	}

	// checkbox hover color
  .radio-container:hover .checkmark {
    height: $xs-diameter - ( 2 * $line-thick );
    width: $xs-diameter - ( 2 * $line-thick );

    @include media-breakpoint-up(sm) {
			height: $sm-diameter - ( 2 * $line-thick );
			width: $sm-diameter - ( 2 * $line-thick );
		}
		@include media-breakpoint-up(md) {
			height: $md-diameter - ( 2 * $line-thick );
			width: $md-diameter - ( 2 * $line-thick );
		}
		@include media-breakpoint-up(lg) {
			height: $lg-diameter - ( 2 * $line-thick );
			width: $lg-diameter - ( 2 * $line-thick );
		}
		@include media-breakpoint-up(xl) {
			height: $xl-diameter - ( 2 * $line-thick );
			width: $xl-diameter - ( 2 * $line-thick );
		}
    border: $line-thick solid;
	}
}

//
// Theme form radio
@mixin pxl-form-radio-theme ($form-theme-color, $form-color, $form-nearcolor, $form-middlecolor, $form-palecolor, $form-svgcolor) {
  // theme checkbox
  .checkmark {
    border-color: $form-color;
  }

  // checkbox hover color (supports bootstrap checkbox-group layout)
  .radio-container:hover input ~ .checkmark,
  .radio-container:hover input ~ label .checkmark {
    border-color: $form-color;
  }

  // checkbox checked color (supports bootstrap checkbox-group layout)
  .radio-container input:checked ~ .checkmark,
  .radio-container input:checked ~ label .checkmark {
    background-color: $form-color;
  }
}

//
// Form select
@mixin pxl-form-select () {
  // reset to original look
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  // IE
  select::-ms-expand {
    display: none;
  }

  // select styling
  select {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 1px 0;
    @include pxl-formtext();
    font-variant-numeric: lining-nums tabular-nums;
    border: none;
    outline: none;
    border-radius: 0;

    &:focus, &:hover {
      padding-bottom: 0;
      cursor: pointer;
    }
  }

	// position select container
	.select-container {
		position: relative;
		width: auto;
    padding-right: 29px;

		@include media-breakpoint-up(sm) {
			padding-right: 31px;
		}
		@include media-breakpoint-up(lg) {
			padding-right: 33px;
		}
		@include media-breakpoint-up(xl) {
			padding-right: 35px;
		}
	}


	// define select arrow
	.select-container::before {
		display: inline-block;
		position: absolute;
    width: 24px;
    height: 12px;
    right: 0;
    top: 0;

    @include media-breakpoint-up(sm) {
			width: 26px;
			height: 13px;
		}
		@include media-breakpoint-up(lg) {
			width: 28px;
			height: 14px;
		}
		@include media-breakpoint-up(xl) {
			width: 30px;
			height: 15px;
		}
	}

}

//
// Theme form select
@mixin pxl-form-select-theme ($form-theme-color, $form-color, $form-nearcolor, $form-middlecolor, $form-palecolor, $form-svgcolor) {
  // select styling
  select {
    border-bottom: 1px solid $form-color;
    background-color: transparent;
    color: $form-nearcolor;

    &:focus, &:hover {
      border-bottom: 2px solid $form-color;
    }
  }

  // define select arrow
  .select-container::before {
    content: unquote($svg-url-start) + unquote($svg-select-arrow-1) + $form-svgcolor + unquote($svg-select-arrow-2) + unquote($svg-url-end);
  }

}

//
// Buttons
@mixin pxl-form-button () {
  //
  // submit button
	input[type='button'],
	input[type='submit'],
	input[type='reset'],
  button, .button {
		-webkit-appearance: none;
		display: inline-block;
    margin-right: 10px;
		padding: 5px 15px;
    min-width: $button-min-width;
    @include pxl-formtext();
		font-weight: bold;
    text-align: center !important;
    text-decoration: none;
    border: $button-line solid;
    -webkit-border-radius: 0;
    border-radius: 0;
		cursor: pointer;

		&:focus, &:hover {
			outline: none;
		}
		&:last-child {
			margin-right: 0;
		}
	}

	// more button
	.button-more {
    -webkit-appearance: none;
		display: inline-block;
    @include pxl-formtext();
		text-decoration: none;
		font-weight: bold;
		cursor: pointer;

		&:after {
			display: inline-block;
			position: relative;
      vertical-align: middle;
			margin-left: 15px;
      width: 30px;
      height: 15px;

      @include media-breakpoint-up(sm) {
				width: 34px;
				height: 17px;
			}
			@include media-breakpoint-up(md) {
				width: 40px;
				height: 20px;
			}
			@include media-breakpoint-up(lg) {
				width: 44px;
				height: 22px;
			}
			@include media-breakpoint-up(xl) {
				width: 50px;
				height: 25px;
			}
		}
	}
}

//
// Theme buttons
@mixin pxl-form-button-theme ($form-theme-color, $form-color, $form-nearcolor, $form-middlecolor, $form-palecolor, $form-svgcolor) {
  //
  // submit button
  input[type='button'],
  input[type='submit'],
  input[type='reset'],
  button, .button {
    border-color: $form-color;
    color: $form-nearcolor;
    background-color: transparent;

    &:hover {
      color: $form-theme-color;
      background-color: $form-color;
    }
  }

  // more button
  .button-more {
    color: $form-nearcolor;

    &:after {
      content: unquote($svg-url-start) + unquote($svg-more-arrow-1) + $form-svgcolor + unquote($svg-more-arrow-2) + $form-svgcolor + unquote($svg-more-arrow-3) + unquote($svg-url-end);
    }
    &:hover:after {
      content: unquote($svg-url-start) + unquote($svg-more-arrow-1) + $form-svgcolor + unquote($svg-more-arrow-2-hover) + $form-svgcolor + unquote($svg-more-arrow-3-hover) + unquote($svg-url-end);
    }
  }

}

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@function remToPx($size) {
   @return parseInt($size) * $global-font-size;
}


//
// Form range
@mixin pxl-form-range () {
  //
  // range control element
	input[type=range] {
		-webkit-appearance: none;
		background: transparent;
		width: 100%;
    margin: 0 0 remToPx($xs-diameter);
    height: remToPx($xs-diameter);

    @include media-breakpoint-up(sm) {
      margin-bottom: remToPx($sm-diameter);
      height: remToPx($sm-diameter);
    }
    @include media-breakpoint-up(md) {
      margin-bottom: remToPx($md-diameter);
      height: remToPx($md-diameter);
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: remToPx($lg-diameter);
      height: remToPx($lg-diameter);
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: remToPx($xl-diameter);
      height: remToPx($xl-diameter);
    }

    // IE10+ hack because height does somehow not work properly
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
      height: 100px;
    }

    &:focus {
      outline: none;
    }
	}

  // Chrome, Opera, Safari 10.1+
	input[type=range]::-webkit-slider-runnable-track {
		width: 100%;
		height: 1px;
		box-shadow: none;
    border-radius: 0;
    border: none;
    cursor: pointer;
  }

	input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: $xs-diameter;
    width: $xs-diameter;
    margin-top: - $xs-diameter / 2;
    box-shadow: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    @include media-breakpoint-up(sm) {
			height: $sm-diameter;
			width: $sm-diameter;
			margin-top: - $sm-diameter / 2;
		}
		@include media-breakpoint-up(md) {
			height: $md-diameter;
			width: $md-diameter;
			margin-top: - $md-diameter / 2;
		}
		@include media-breakpoint-up(lg) {
			height: $lg-diameter;
			width: $lg-diameter;
			margin-top: - $lg-diameter / 2;
		}
		@include media-breakpoint-up(xl) {
			height: $xl-diameter;
			width: $xl-diameter;
			margin-top: - $xl-diameter / 2;
		}
	}


	// Firefox
  input[type=range]::-moz-focus-outer {
    border:none
  }
	input[type=range]::-moz-range-track {
		width: 100%;
		height: 1px;
		border-radius: 1px;
		border: none;
    box-shadow: none;
    cursor: pointer;
	}

	input[type=range]::-moz-range-thumb {
    height: $xs-diameter;
    width: $xs-diameter;
		box-shadow: none;
		border: none;

    @include media-breakpoint-up(sm) {
			height: $sm-diameter;
			width: $sm-diameter;
		}
		@include media-breakpoint-up(md) {
			height: $md-diameter;
			width: $md-diameter;
		}
		@include media-breakpoint-up(lg) {
			height: $lg-diameter;
			width: $lg-diameter;
		}
		@include media-breakpoint-up(xl) {
			height: $xl-diameter;
			width: $xl-diameter;
		}
		border-radius: 50%;
		cursor: pointer;
	}

  // IE, Edge
	input[type=range]::-ms-track {
		width: 100%;
		height: 1px;
		background: transparent;
		border-color: transparent;
		color: transparent;
    cursor: pointer;
	}

	input[type=range]::-ms-fill-lower {
		border: none;
		border-radius: 0;
		box-shadow: none;
		background: transparent;
  }

	input[type=range]::-ms-fill-upper {
		border: none;
		border-radius: 0;
		box-shadow: none;
		background: transparent;
  }

	input[type=range]::-ms-thumb {
    height: remToPx($xs-diameter);
    width: remToPx($xs-diameter);
    box-shadow: none;
		border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 0;

    @include media-breakpoint-up(sm) {
			height: remToPx($sm-diameter);
			width: remToPx($sm-diameter);
      margin-top: 0;
		}
		@include media-breakpoint-up(md) {
			height: remToPx($md-diameter);
			width: remToPx($md-diameter);
      margin-top: 0;
		}
		@include media-breakpoint-up(lg) {
			height: remToPx($lg-diameter);
			width: remToPx($lg-diameter);
      margin-top: 0;
		}
		@include media-breakpoint-up(xl) {
			height: remToPx($xl-diameter);
			width: remToPx($xl-diameter);
      margin-top: 0;
		}
	}

}

//
// Theme form range
@mixin pxl-form-range-theme ($form-theme-color, $form-color, $form-nearcolor, $form-middlecolor, $form-palecolor, $form-svgcolor) {
  //
  // range control element
  // Chrome, Opera, Safari 10.1+
  input[type=range]::-webkit-slider-runnable-track {
    background: $form-color;

    &:focus {
      background: $form-color;
    }
  }

  input[type=range]::-webkit-slider-thumb {
    background: $form-color;
  }


  // Firefox
  input[type=range]::-moz-range-track {
    background: $form-color;
  }
  input[type=range]::-moz-range-thumb {
    background: $form-color;
  }

  // IE, Edge
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-ms-fill-lower {
    background: $form-color;

    &:focus {
      background: $form-color;
    }
  }

  input[type=range]::-ms-fill-upper {
    background: $form-color;

    &:focus {
      background: $form-color;
    }
  }

  input[type=range]::-ms-thumb {
    background: $form-color;
  }

}
